::before,
::after{
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
a{ 
   text-decoration: none;
}
ul,
ol,
li{
   list-style: none;
}
img{
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
   font-weight: inherit;
   font-size: inherit;
}
html,
body{
   height: 100%;
   line-height: 1;
   font-size: 16px;
   color: #252B42;
   font-family: Montserrat;
   font-weight: 500;
   background: #FAFAFA;
}
.wrapper{
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   
}
._container {
   max-width: 1046px;
   padding: 0px 15px; /* увеличиваем внеш отступ чтоб не прилипал при адптиве */
   margin: 0px auto;/* выстроить по центру блок*/
   box-sizing: content-box;  /* чтоб отступ не увеличивал контейнер */
} 
/* ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff  */
.header {
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 10;
}
.header__container{
   display: flex;
   min-height: 104px;      /*фиксиров высота шапки*/
   align-items: center; /* выравнивание об по центру */

}


.header__logo {
   font-size: 24px;
   font-weight: 700;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: inherit;  /*  наследование цвета для ссылки от body */

}
.header__menu {
   margin: 0px 0px 0px 133px;
}
.menu {
   padding: 5px 0;
}
.menu__list {
   display: flex;
   flex-wrap:wrap ;
}
.menu__item:not(:last-child) {
    margin: 0px 21px 0px 0px;   /*убираем у последнего мееню отступ сзади */
}
.menu__link {
   color: #737373;
   line-height: 171%;
   font-weight: 600;
}

/* Фоновое изображение на сайт размер задает контент сайта*/

._ibg{
   position: relative;
}
._ibg img{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}

/* BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB */
@media (max-width: 992px) {
   .header__menu{
      margin: 0px 0px 0px 80px;
   }
}
@media (max-width: 767px) {
   .header__menu{
      margin: 0px 0px 0px 40px;
   }
}
@media (max-width: 479px) {
   .header__menu{
      margin: 0px 0px 0px 20px;
   }
   .menu__link {
      font-size: 18px;
   }
}
/* bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb */

.page{
   flex: 1 1 auto;
}
.page__main-block {
}
.main-block {
   position: relative;
}
.main-block__container_container {
}
.main-block__body{
   padding: 184px 0px 191px 0px;
   position: relative;
   z-index: 2;
   max-width: 400px;
}
@media (max-width:992px){
   .main-block__body{
   padding: 120px 0px 191px 0px;
}
}
.main-block__body > *:not(:last-child){
   margin: 0px 0px 35px 0px;
   /* внутренний отступ между элементами первого уровня  */
}
.main-block__title { 
   font-size: 58px;
   line-height: 137%;
   font-weight: 800;
   letter-spacing: 0.2px;
}
@media (max-width:479px){
   .main-block__title { 
      font-size: 42px;
   }

}
.main-block__text {
      color: #737373;
      font-size: 20px;
      line-height: 150%;  
}
.main-block__buttons {
   display: flex;
   flex-wrap: wrap;
   margin: -10px 0px;
}
.main-block__button {
   /* создание кнопки  */
   border-radius: 37px;
   display: flex;
   min-height   : 48px;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 0px 36px;
   letter-spacing: 0.2px;
   font-weight: 700;
   line-height: 150%;
   margin: 10px 0px;
}
@media (max-width:479px){
   .main-block__button {
      flex: 1 1 100%;
   }
}
@media (min-width:479px){
.main-block__button:not(:last-child){
   margin: 0px 10px 0px 0px;
   margin-right: 10px;
}
}
.main-block__button_orange{
   color: #fff;
   background: #FF7B47;
}
.main-block__button_border {
   color: #0D5C63;
   border: 1px solid #0D5C63;
}
.main-block__image{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
@media (max-width:1300px) {
.main-block__image img{
   object-position:right
   /* двигаем фоновую картику чтобы не пропадали люди при малых экранах */
}
}
@media (max-width:992px){
   .main-block__image{
      opacity: 0.5; /* выбелить картинку чтобы был виден текст на сайте */
   }
}
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */

.page__services {
   position:relative;
   z-index: 2;
   margin: -111px 0px 0px 0px;
     /* поднятие блоков над первой страницей */
}
.services {
}
.services__container {
}
@media (min-width: 670px){
.services__body{
   display: flex;
   /* flex-wrap: wrap; */
   margin: 0px -15px -30px;
}
}
.services__column {
   margin: 0px 0px 30px 0px;
   padding: 0px 15px;
   flex: 0 1 33.333%;
}

@media(max-width:992px){
   .services__column{
      flex: 0 1 50%;
   }
   .services__column:not(:last-child) {
      margin: 0px 0px 30px 0px;
   }
   .services__column:last-child{
      flex: 1 1 100%;
   }
}
.services__item {
   background: #fff;
   box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
   padding: 20px 35px;
   height: 100%;
}
/* .item-service {
} */
.item-service > *:not(:last-child) {
   margin: 0px 0px 10px 0px;
}
.item-service_green{
   background-color: #0D5C63;
}

.item-service_green .item-service__title{
   color:#fff; 
}
.item-service_green .item-service__text{
   color:#fff; 
}
.item-service__title {
   font-size: 24px;
   font-weight: 700;
   line-height: 133%;
   letter-spacing: 0.1px;
}
.item-service__text {
   font-size: 14px;
   color: #737373;
   line-height: 142%;

}

/* fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff */

.header-block {
   /* margin: 0px 10px; */
   text-align: center;
   letter-spacing: 0.2px;
}
.header-block__title {
   font-weight: 700;
   font-size: 40px;
   line-height: 142%;
   
}
.header-block__title:not(:last-child){
   margin: 0px 0px 10px 0px;
}


.header-block__sub-title {
   font-weight: 500;
   font-size: 14px;
   color: #737373;
   line-height: 142%;
}
@media (max-width: 996px){
   .header-block__title{
      font-size: 30px;
   }
}

/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */

/* .page__advantages {

} */
.advantages {
   padding: 80px 0px;
   
}
@media (max-width: 1020px){
   .advantages{
      padding: 40px 0px;
   }
}
@media (max-width: 767px){
   .advantages{
      padding: 30px 0px;
   }
}
/* .advantages__container {

} */

.advantages__header {
   margin: 0px 0px 50px 0px;
}
@media (max-width: 767px){
   .advantages__header {
      margin: 0px 0px 30px 0px;
   }
}
.advantages__body {
   display: flex;
   flex-wrap: wrap;
   margin: 0px -15px -30px 0px;
}
.advantages__column {
   /* padding: 0px 15px; */
   margin: 0px -15px -30px 0px;
   flex: 0 1 25%;
}
@media (max-width: 1020px){
   .advantages__column{
      flex: 0 1 50%;
   }
}
@media (max-width: 560px){
   .advantages__column{
      flex: 0 1 100%;
   }
}

.advantages__item {
   background-color: #fff;
   padding: 30px;
   text-align: center;
   font-weight: 700;
}
.advantages__item > :not(:last-child){
   margin: 0px 0px 10px 0px;
}
.advantages__icon {
   /* выравнивание между собой иконок */
   height: 48px;
   display: flex;
   align-items: flex-end;
   justify-content: center;
}
.advantages__value {
   font-size: 40px;
   line-height: 142%;
   letter-spacing: 0.2px;
}
.advantages__text {
   font-size: 16px;
   line-height: 150% ;
   letter-spacing: 0.1px;
   color: #737373;
   }
   /* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
   /* .practice{
     
   }
   .practice__body {
      display: flex;
     flex-wrap: wrap; 

   }
   .practice__column {
      flex: 0 1 25%;
   }
   .practice__header{
      margin: 0px 0px 50px 0px;
   }
   .practice__item {
      margin: 30px;
   }
   .practice__item :not(:last-child){
      margin: 0px 0px 15px 0px;
   }
   .practice__value {
      weight:700;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.1px;
      color:#252B42;
   }
   .practice__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.2px;
      color: #737373;
   }
   .practice__pic {
   margin: 0px 4px;
   display: flex;
   align-items: flex-end;
   justify-content: center;
   } */
/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */
.page__practice {
}
.practice {
   padding: 125px 0px 80px 0px;
}

@media (max-width: 993px){
   .practice {
      padding: 80px 0px 80px 0px;
   }
}
@media (max-width: 767px){
   .practice {
      padding: 30px 0px 30px 0px;
   }
}

.practice__container {
}


.practice__header {
   margin: 0px 0px 45px 0px ;
   
}
@media (max-width: 767px){
   .practice__header {
      margin: 0px 0px 25px 0px ;
      
   }
}

.practice__body {
   display: flex;
   flex-wrap:wrap;
   margin: 0px -20px -30px;
   justify-content: center;
}
@media (min-width: 1040px){
   .practice__body {
         flex-wrap:nowrap;
      
      }
}
.practice__column {
   flex: 0 1 25%; 
   padding: 0px 20px;
   margin: 0px 0px 30px 0px ;
}
@media (max-width: 1040px){
   .practice__column {
      flex: 0 1 50%; 
      /* padding: 0px 20px; */
   }
}
@media (max-width: 650px){
   .practice__column {
      flex: 0 1 100%; 
      /* padding: 0px 20px; */
   }
}


.practice__item {
}
.item-practice {
   background-color: #fff;
   display: flex;
   flex-direction: column;
   height: 100%;
}
.item-practice__content{
   padding: 30px;  
   flex: 1 1 auto;
}
.item-practice__link{
   display: inline-block;
}
.item-practice__link:hover{
   text-decoration: underline;
}
.item-practice__link:not(:last-child){
   margin: 0px 0px 15px 0px;
}
.item-practice__title {
   weight:700;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.1px;
   color: #252B42;
}
.item-practice__text {
   font-weight: 500;
   font-size: 14px;
   line-height: 143%;
   letter-spacing: 0.2px;
   color: #737373;
}
.item-practice__image {
   display: block;
   padding: 0px 0px 60% 0px;
}

/* nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn */

/* .item-weare__video{
	padding: 0px 0px 40% 0px;
	position: relative;
	flex: 0 1 50%;
	overflow: hidden;
}
 */


.page__weare {
}
.weare {
   padding:100px 0px;
   background: #fff;
  }
.weare__container {
}

.weare__header {
   margin: 0px 0px 100px 0px;
}
.weare__body{
   display: flex;
   align-items: flex-start;
}
@media(max-width: 950px){
   .weare__body{
      
      flex-direction: column-reverse ;
      align-items: stretch;
   }
   .item-weare__video:not(:last-child){
      margin: 50px 0px 0px 0px ;
   }
   .weare__header {
      margin: 0px 0px 160px 0px;
   }
   .item-weare__title {
         font-size: 24 px;
   }
   .weare__header {
      margin: 0px 0px 50px 0px;
   }


}


.item-weare__video{
   flex: 0 0 57%;
   /* тут делим общую ширину на ширину видео получаем 57*/
   position: relative;
   padding: 0px 0px 42.25% 0px;
   /* тут делим общую высоту на высоту видео получаем 42*/
}
.item-weare__video iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.item-weare__content {
   flex: 1 1 auto; 
   /* занять всю свободную ширину */
   padding: 20px 0px 0px 120px;
   }
@media(max-width: 1080px){
   .item-weare__content {
      padding: 0px 0px 0px 50px;
      }
}





.weare__column {

}
.item-weare__weare-item{

}
.item-weare__title {
   font-weight: 700;
   font-size: 40px;
   line-height: 142%;
   letter-spacing: 0.2px;
   color: #252B42;
}
.item-weare__title:not(:last-child){
  margin: 0px 0px 10px 0px;}
   /* padding: 20px 0px 0px 0px;
} */
.item-weare__text {
   font-weight: 500;
   font-size: 14px;
   line-height: 143%;
   letter-spacing: 0.2px;
   color: #737373;

}
/* .item-weare__value {
} */
.item-weare__blok{
   padding: 50px 0px 0px 0px; 
   
   }
.elem-weare {
  display: flex;
}

.elem-weare:not(:last-child){
   margin: 0px 0px 20px 0px;
}
.elem-weare_icon {
   flex: 0 0 11.12%;
   
}
.elem-weare__ttext{
   flex: 1 1 auto;
   padding: 0px 0px 0px 20px ;
}
.elem-weare__text {
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.1px;
   color: #252B42;
}
.item-weare__title:not(:last-child){
   margin: 0px 0px 5px 0px;
}
.elem-weare__subtext {
   font-weight: 600;
   font-size: 14px;
   line-height: 171%;
   letter-spacing: 0.2px;
   color: #737373;
}


/* bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb */
.page__client {
}
.client {
   

}
.client__container {
  
}

.client__pic {
}
.pic-client {
   display: flex;
   padding: 50px 0px;
}
.pic-client__content {
    align-items: center;
}
.pic-client__item{
   display: flex;
  
}
.pic-client__item img:not(:last-child){
     margin: 0px 30px 0px 0px;
     /* height: 14.47%; */
}

.pic-client__block {
   
}
.block__pic {
  padding: 20px 32px;
  background: #17213C;
   border-radius: 2px;
   position: relative;
   z-index: 2;
}
.block__body {
  
   display: flex;
   padding:10px 20px;
  
}

.block__title {
   height: 64px;
   font-weight: 700;
   font-size: 24px;
   line-height: 133%;
   letter-spacing: 0.1px;
   color: #FFF;
   margin: 0px 180px 0px 0px ;
   flex: 0 1 50%;
}
.block__mail {
 
   /* width: 450px; */
}
.block__footer {
   position: absolute;
   display: flex;
   background-color: #252B42;
   width: 100%;
   height: 77px;
   right: 0;
   left: 0;
   margin: -57px 0px 0px 0px;
}


.block-form{
   flex: 0 1 50%;
   display: flex;
   align-items: center;
   background: #F9F9F9;
}
.input-cl{
   flex: 1 1 auto;
   min-height: 58px;
   padding: 0px 20px;
   background: #F9F9F9;
   box-sizing: border-box;
   border: 1px solid #E6E6E6;
   border-radius: 0px 5px 5px 0px;
   border-right: 0;
}
.input-cl:focus{
   color: #000;
}
.block-button{
   background: #FF7B47;
   border: 1px solid #E6E6E6;
   border-radius: 0px 5px 5px 0px;
   display: flex;
   min-height: 58px;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #fff;
   padding: 0px 22px;
   

}
.block-button:hover{
   background: #f34b09;
   transition: 0.5s;
}




 @media (min-width:1070){
   .block__body {
      padding:30px 40px;
      }
 }
 @media (max-width:1070px){
   .pic-client__item{
      flex-wrap: wrap;
      justify-content: center;
     
   }
 }
@media (max-width:767px){
   .pic-client {
      padding: 20px 0px;
      }
   .pic-client__item img:not(:last-child){
         margin: 0px 10px 0px 0px;
         padding: 10px 0px;
         /* height: 14.47%; */
    }
    .pic-client__item{
      flex-wrap: wrap;
      justify-content: center;
     
   }
   .block__pic {
      padding: 5px 8px;
   }
   .block__title {
      height: 100%;
      font-size: 20px;
      margin: 0px 20px 0px 10px;
    }
   .block-button{
    min-height: 28px;
    padding: 11px;
   }
   .input-cl{
      flex: 0 1 50%;
     padding: 0px 5px;
}


/* fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff */

/* АЛЬТЕРНАТИВНЫЙ ВАРИАНТ ПОЛОСКИ    */
/* .block__pic::before {
   content: "";
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 77px;
   left: 0;
   background: #252B42;
}
 */


/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */






   .footer{
   
}